<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Rural E-Health</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.rathod.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AarogyaLogin</display-name>
    <servlet-name>AarogyaLogin</servlet-name>
    <servlet-class>com.rathod.services.AarogyaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AarogyaLogin</servlet-name>
    <url-pattern>/AarogyaLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aarogyaAdd</display-name>
    <servlet-name>aarogyaAdd</servlet-name>
    <servlet-class>com.rathod.services.aarogyaAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aarogyaAdd</servlet-name>
    <url-pattern>/aarogyaAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doctorAdd</display-name>
    <servlet-name>doctorAdd</servlet-name>
    <servlet-class>com.rathod.services.doctorAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctorAdd</servlet-name>
    <url-pattern>/doctorAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>caseAdd</display-name>
    <servlet-name>caseAdd</servlet-name>
    <servlet-class>com.rathod.services.caseAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>caseAdd</servlet-name>
    <url-pattern>/caseAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLogin</display-name>
    <servlet-name>DoctorLogin</servlet-name>
    <servlet-class>com.rathod.services.DoctorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogin</servlet-name>
    <url-pattern>/DoctorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentAdd</display-name>
    <servlet-name>CommentAdd</servlet-name>
    <servlet-class>com.rathod.services.CommentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAdd</servlet-name>
    <url-pattern>/CommentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AarogyaCommentAdd</display-name>
    <servlet-name>AarogyaCommentAdd</servlet-name>
    <servlet-class>com.rathod.services.AarogyaCommentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AarogyaCommentAdd</servlet-name>
    <url-pattern>/AarogyaCommentAdd</url-pattern>
  </servlet-mapping>
</web-app>